{% block content %} 
<div class="row">
    <div class="check-container">  
      <div class="button-col">
        <a href="#" class="button tiny radius standard">Do Now</a>
      </div>
      <div class="list-col">Enter Your Details</div>   
      <div class="tick-col">
        <div class="switch tiny round">
          <input id="exampleCheck" type="checkbox">
          <label for="exampleCheck">Done</label>
        </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="check-container">  
      <div class="button-col">
        <a href="#" class="button tiny radius standard">Do Now</a>
      </div>
      <div class="list-col">Enter Your Details</div>   
      <div class="tick-col">
        <div class="switch tiny round">
          <input id="exampleCheck1" type="checkbox">
          <label for="exampleCheck1">Done</label>
        </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="check-container">  
      <div class="button-col">
        <a href="#" class="button tiny radius standard">Do Now</a>
      </div>
      <div class="list-col">Enter Your Details</div>   
      <div class="tick-col">
        <div class="switch tiny round">
          <input id="exampleCheck2" type="checkbox">
          <label for="exampleCheck2">Done</label>
        </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="check-container">  
      <div class="button-col">
        <a href="#" class="button tiny radius standard">Do Now</a>
      </div>
      <div class="list-col">Enter Your Details</div>   
      <div class="tick-col">
        <div class="switch tiny round">
          <input id="exampleCheck3" type="checkbox">
          <label for="exampleCheck3">Done</label>
        </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="check-container">  
      <div class="button-col">
        <a href="#" class="button tiny radius standard">Do Now</a>
      </div>
      <div class="list-col">Enter Your Details</div>   
      <div class="tick-col">
        <div class="switch tiny round">
          <input id="exampleCheck4" type="checkbox">
          <label for="exampleCheck4">Done</label>
        </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="check-container">  
      <div class="button-col">
        <a href="#" class="button tiny radius standard">Do Now</a>
      </div>
      <div class="list-col">Enter Your Details</div>   
      <div class="tick-col">
        <div class="switch tiny round">
          <input id="exampleCheck5" type="checkbox">
          <label for="exampleCheck5">Done</label>
        </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="check-container">  
      <div class="button-col">
        <a href="#" class="button tiny radius standard">Do Now</a>
      </div>
      <div class="list-col">Enter Your Details</div>   
      <div class="tick-col">
        <div class="switch tiny round">
          <input id="exampleCheck6" type="checkbox">
          <label for="exampleCheck6">Done</label>
        </div>
      </div>
  </div>
</div>
{% endblock %}